 body, html {
          height: 100%;
          margin: 0;
          overflow:hidden;
          font-family: helvetica;
          font-weight: 100;
          color: black;
      }

/* Unique Settings Page code */ 

#userProfilePicture{
  position: absolute;
  left: 30%;
  top: 10%;
  width: 35%;
  height: 15%;
  border-width: 3.5px;
  border-style: solid;
  border color: black;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
}

#editPicButton {
  position: absolute;
  font-family: Georgia;
  color: #050505;
  font-size: 14px;
  background: #d99734;
  text-decoration: none;
  left: 30%;
  top: 26%;
  width: 35%;
  height: 3%;
}
#editPicButton:hover {
  background: #9ba0a3;
  text-decoration: none;
}

#profileInfoName {
top: 35%;
left: 10%;
position: absolute; 
font-size: 25px; 
font-family:serif;
font-weight: bold;
}

#soundCharacters {
font-size: 25px; 
font-family:serif;
font-weight: bold;
top: 45%;
left: 10%;
position: absolute;
}

#soundSlider {
top: 55%;
left: 15%;
position: absolute; 
}

#notificationsOnOff{
font-size: 25px; 
font-family:serif;
font-weight: bold;
top: 60%;
left: 10%;
position: absolute;
}

#NotificationCheckNumber1{
  width: 30%;
  height: 10%;
  position: absolute;
  top: 72%;
  left: 20%;
  background-color: #00CC00;
  border-width: 11px;
  border-style: solid;
  border color: black;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
}
#NotificationCheckNumber2{
  width: 30%;
  height: 10%;
  position: absolute;
  top: 72%;
  left: 50%;
  background-color: #990000;
  border-width: 11px;
  border-style: solid;
  border color: black;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
}


/* Slider Colouring */
input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    
    width: 75%;
    height: 7px;
    background: #BDBDBD;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #FF9900;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: blue;
    position: absolute;
}








#screenDescription{
  bottom: -10px;
  position: absolute;
  left: 35%;
  color: white;
  font-size: 22.5px;
  font-weight: bold;

}


 /* Space behind the buttons */
      .container {
          background-color:#E6E6E6; 
          position: relative;
          height: 100%;
          width: 100%;
          left: 0;
          -webkit-transition:  left 0.4s ease-in-out;
          -moz-transition:  left 0.4s ease-in-out;
          -ms-transition:  left 0.4s ease-in-out;
          -o-transition:  left 0.4s ease-in-out;
          transition:  left 0.4s ease-in-out;
      }
      .container.open-sidebar {
          left: 200px;
      }
      
      /* The bar you can swipe */
      .swipe-area {
          position: absolute;
          width: 100%;
          height: 8%;
          left: 0;
          top: 0;
          background: orange;
          z-index: 0;
      }
      /*The Sidebar*/
      #sidebar {
          background: #585858;
          position: absolute;
          width: 200px;
          height: 100%;
          left: -200px;
          border-width: 5px;
          border-style: solid;
          border color: black;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
      }
      #sidebar ul {
          margin: 0;
          padding: 0;
          list-style: none;
      }
      #sidebar ul li {
          margin: 0;
      }






      /* Heres the dime4nsions of all the sidebar pictures.  */
      #homeButton {
        width: 180px; 
        height: 115px;
      }
       #registerPic {
        width: 180px; 
        height: 115px;
      }
        #friendsPic{
        width: 180px; 
        height: 115px;
      }
      #notificationsPic{
        width: 180px; 
        height: 115px;
      }








      /* Text Boxes*/
      #sidebar ul li a  {
          padding: 5px 5px;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          color: #151515;
          text-decoration: none;
          display: block;
          border-bottom: 5px solid black;
          -webkit-transition:  background 0.3s ease-in-out;
          -moz-transition:  background 0.3s ease-in-out;
          -ms-transition:  background 0.3s ease-in-out;
          -o-transition:  background 0.3s ease-in-out;
          transition:  background 0.3s ease-in-out;
      }
      /* The Colour of the hover for then menus */
      #sidebar ul li:hover a {
          background: #848484;
      }
      .main-content {
          width: 100%;
          height: 100%;
          padding: 10px;
          top: 0px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          position: absolute;
      }
      .main-content .content{
          box-sizing: border-box;
          -moz-box-sizing: border-box;
      padding-left: 60px;
      width: 100%;
      }
      .main-content .content h1{
          font-weight: 100;
      }
      .main-content .content p{
          width: 100%;
          line-height: 160%;
      }
      /*Hamburger Button Bar*/
      .main-content #sidebar-toggle {
          background:orange;
          border-radius: 3px;
          display: block;
          position: relative;
          padding: 1px 1px;
          float: left;
      }
      .main-content #sidebar-toggle .bar{
          display: block;
          width: 34px;
          margin-bottom: 3px;
          height: 8px;
          background-color: white;
          border-radius: 3px;   
          
      }
      .main-content #sidebar-toggle .bar:last-child{
           margin-bottom: 0;   
      }